RewriteEngine on
RewriteCond %{HTTP_HOST} !^www\.
RewriteRule ^ https://www.gpcheck.lptcprojects.com%{REQUEST_URI} [NC,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([^\.]+)$ $1.php [NC,L]